* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a,
input,
select,
button {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.hero {
  background-color: #E1EE8F;
  position: relative;
  overflow: hidden;
}
.hero__content {
  padding-top: 196px;
  padding-bottom: 156px;
  width: 769px;
  position: relative;
}
.hero__title {
  font-size: 4rem;
}
.hero__info {
  font-size: 1.5rem;
  padding: 24px 0 48px 0;
}
.hero__info span {
  font-weight: 600;
}
.hero__btn, .mini-games__btn {
  background: #202027;
  color: #FFFFFF;
  border: 1px solid #202027;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 65px;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.hero__btn:hover, .mini-games__btn:hover {
  background-color: #FFFFFF;
  color: #202027;
}
.hero__decorate {
  position: absolute;
}
.hero__decorate_1 {
  top: 69px;
  left: -57px;
}
.hero__decorate_2 {
  top: -333px;
  left: 808px;
  z-index: 2;
}
.hero__decorate_3 {
  top: -10px;
  left: 734px;
}
.hero__decorate_4 {
  top: 538px;
  right: 344px;
  left: 828px;
}

.animated-strip {
  background-color: #BCEC30;
  display: flex;
  gap: 51px;
  overflow: hidden;
}
.animated-strip__text {
  color: #202027;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 37px;
  padding: 27px 49px;
  text-transform: uppercase;
  white-space: nowrap;
}

.main {
  background-color: #202027;
  padding-bottom: 144px;
  overflow: hidden;
}

.about, .mini-games {
  padding-top: 94px;
  position: relative;
}
.about__info, .mini-games__main-title {
  padding-bottom: 71px;
}
.about__title, .mini-games__main-title {
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 24px;
}
.about__text, .mini-games__text {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 32px;
  width: 772px;
}
.about__games {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  position: relative;
  z-index: 2;
}
.about__games-box {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about__link {
  text-decoration: none;
}
.about__game {
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 12.6122951508px 42.2511901855px -7.57px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.about__game:hover {
  transform: scale(1.06);
}
.about__img, .mini-games__img {
  width: 100%;
  border-radius: 30px;
}
.about__text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  padding-bottom: 36px;
}
.about__number {
  background: rgb(247, 247, 247);
  color: #202027;
  border-radius: 52.58px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 16px;
  align-self: start;
}
.about__name {
  color: #202027;
  font-size: 32px;
  font-weight: 700;
}
.about__star {
  position: absolute;
}
.about__star_1 {
  top: 77px;
  right: -263px;
}
.about__star_2 {
  top: 770px;
  left: -95px;
}

.mini-games {
  position: relative;
}
.mini-games__main-title {
  padding-bottom: 72px;
}
.mini-games__games {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 32px;
}
.mini-games__game {
  background-color: #FFFFFF;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.mini-games__box {
  padding: 48px;
  grid-column: span 6;
}
.mini-games__title {
  color: #202027;
  font-size: 3rem;
  font-weight: 700;
}
.mini-games__text {
  color: #202027;
  padding-top: 24px;
  padding-bottom: 36px;
}
.mini-games__btn {
  padding: 16px 75px;
}
.mini-games__img {
  grid-column: span 6;
}
.mini-games__decor {
  overflow: hidden;
}
.mini-games__star {
  position: absolute;
}
.mini-games__star_3 {
  top: 143px;
  right: -76px;
}
.mini-games__star_4 {
  bottom: -99px;
  right: -69px;
}

.footer {
  background-color: #BCEC30;
}
.footer__text {
  color: #202027;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%;
  padding: 60px 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */